.query-container {
  padding: 1rem;
  max-width: 800px;
  min-width: 44vw;
  margin: auto;
  font-family: Arial, sans-serif;
  padding-top: 100px;
}

.query-controls {
  margin-bottom: 1.5rem;
}

.textarea-wrapper {
  margin: 0.5rem 0;
}

.query-textarea {
  width: 100%;
  font-family: monospace;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  resize: vertical;
}

.query-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.query-buttons button {
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: rgb(92, 138, 240);
  cursor: pointer;
  font-size: 0.9rem;
  color: white;
}
.query-buttons button:hover {
  background-color: #1e4fd6;
}

.query-buttons button:disabled {
  background-color: #999;
  cursor: not-allowed;
}

.results-section {
  border-top: 1px solid #ddd;
  padding-top: 1rem;
}

.results-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results-icons button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 0.5rem;
}

.results-data {
  background-color: #f7f7f7;
  padding: 1rem;
  border-radius: 6px;
  overflow-x: auto;
  margin-top: 1rem;
  white-space: pre-wrap;
}

.results-error {
  color: red;
  font-weight: bold;
  margin-top: 1rem;
}
